@tailwind base;
@tailwind components;
@tailwind utilities;

/*? USING LOCAL FONT FROM STATIC FOLDER */
@font-face {
	font-family: 'BigShouldersDisplay';
	font-weight: 400 900;
	font-display: swap;
	src: url('/fonts/BigShouldersDisplay/BigShouldersDisplay-VariableFont_wght.ttf')
		format('truetype');
}

@font-face {
	font-family: 'LexendDeca';
	font-weight: 100 500;
	font-display: swap;
	src: url('/fonts/LexendDeca/LexendDeca-VariableFont_wght.ttf') format('truetype');
}

/*? Simple Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	font: inherit;
}
img,
svg {
	margin: 0;
	display: block;
	max-width: 100%;
}
/*?---------------- */

/*? Using local font-family */
body {
	@apply font-lexendDeca text-transparentWhite bg-veryLightGray;
}
/*?---------------- */

.footerLabel:after {
	@apply content-[''] absolute top-1/2 -right-2 rotate-45 -translate-y-1/2 border-8 border-blue-500;
}
